<h1>Secret Page</h1>
<div>
  <img src="https://farm4.staticflickr.com/3104/2631752211_d5d4a71bc1.jpg">
</div>

<ul>
  <li><a href="/register">Register</a></li>
  <li><a href="/login">Log In</a></li>
  <li><a href="/logout">Log Out</a></li>
</ul>